svg {
    font-family: monospace;
    font-size: 4.1px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-image: url(../images/whiskeygrain.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom center;
    background-attachment: fixed;

}