<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/wheel.css}">
    <link rel="apple-touch-icon" sizes="180x180" th:src="@{./images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:src="@{./images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:src="@{./images/favicon-16x16.png}">
    <link rel="stylesheet" th:href="@{html5-simple-date-input-polyfill.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/coffeelibrary.css}" />
    <link rel="apple-touch-icon" sizes="180x180" th:src="@{images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:src="@{images/favicon-32x32.png}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152601123-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-152601123-1');
    </script>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Coffee Flavour Wheel App</title>
</head>

<body>
    <div th:fragment="navbar">
        <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand mb-0 h1" href="/"><img th:src="@{./images/transp_android-chrome-192x192.png}"
                    width="30" height="30" class="d-inline-block align-top" alt="">Flavour Wheels
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Flavour Wheels
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="coffeewheel.html" th:href="@{/coffeewheel}">Coffee</a>
                            <a class="dropdown-item" href="winewheel.html" th:href="@{/winewheel}">Wine</a>
                            <a class="dropdown-item" href="whiskeywheel.html" th:href="@{/whiskeywheel}">Whiskey</a>
<!--                            <div class="dropdown-divider"></div>-->
<!--                            <a class="dropdown-item" href="#">Something else here</a>-->
                        </div>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="coffeewheel.html" th:href="@{/coffeewheel}">Coffee</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="winewheel.html" th:href="@{/winewheel}">Wine</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="library.html" th:href="@{/library}">My library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <div layout:fragment="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 wheelSVG">
                        <svg id="svgC" width="100%" viewBox="10 10 440 425">
                            <defs>
                                <pattern id="center1" patternUnits="userSpaceOnUse" x="-23" y="-23" width="102"
                                    height="102">
<!--                                    <image href="./images/coffeebeans.png" x="-55" y="-55" width="212" height="212" />-->
                                </pattern>
                                <filter id="dropshadow" width="160%" height="160%">
                                    <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                                    <feOffset dx="4" dy="4" result="offsetblur" />
                                    <feMerge>
                                        <feMergeNode />
                                        <feMergeNode in="SourceGraphic" />
                                    </feMerge>
                                </filter>
                            </defs>
                            <!--<rect x="0" y="0" width="100%" height="100%" stroke="#381500" fill="#381500" opacity ="0.4" stroke-width="0"/>-->
                            <circle onclick="resetWheel()" id="middle" cx="220" cy="220" r="50" stroke="#000000"
                                stroke-width="0" fill="none" />
                        </svg>
                    </div>
                    <div class="form_input col-xl-4 offset-xl-1 col-lg-5 col-md-12 col-sm-12 col-xs-12"
                        style="background-color: #615d5c26;">
                        <div class="row">
                            <div class="col">
                                <div th:if="${param.successcoffee}">
                                    <div class="alert alert-info">Coffee saved!</div>
                                </div>
                                <h2>Information about your coffee:</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form th:action="@{/add}" th:object="${coffee}" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">Coffee Name:</label>
                                        <input type="text" name="coffeeName" class="form-control" id="coffeeName">
                                        <input type="hidden" id="flavorsCoffee" class="form-control" name="flavorsCoffee">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput2">Roaster:</label>
                                        <input type="text" name="roaster" class="form-control" id="roaster">
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6 form-group">
                                            <label for="formGroupExampleInput2">Roast date:</label>
                                            <input type="date" name="roastDate" class="form-control"
                                                value="Pick a Roast date" placeholder="Pick a Roast date"
                                                id="roastDate">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="exampleSelect1">Roast color:</label>
                                            <select class="form-control" id="roastColor" name="roastColor">
                                                <option value="" selected>Select roast color</option>
                                                <option>Light</option>
                                                <option>Medium</option>
                                                <option>Omni Roast</option>
                                                <option>Medium-dark</option>
                                                <option>Dark</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="exampleSelect2">Tasting method:</label>
                                            <select class="form-control" name="tastingMethod" id="tastingMethod">
                                                <option value="" selected>Select tasting method</option>
                                                <option>Espresso</option>
                                                <option>Filter</option>
                                                <option>Cupping</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label for="exampleSelect2">A/R:</label>
                                            <select class="form-control" name="beanType" id="beanType">
                                                <option value="" selected>Select bean type</option>
                                                <option>Arabica</option>
                                                <option>Robusta</option>
                                                <option>Arabica & Robusta</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="exampleSelect2">Processing method:</label>
                                            <select class="form-control" name="processingMethod" id="processingMethod">
                                                <option value="" selected>Select method</option>
                                                <option>Natural</option>
                                                <option>Pulp Natural</option>
                                                <option>Washed</option>
                                                <option>Semi-washed</option>
                                                <option>Honey</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleTextarea">Extra info:</label>
                                        <textarea class="form-control" name="userNotes" id="userNotes"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" id="" aria-describedby="fileHelp"
                                            name="file"
                                            accept="image/png, image/jpeg, image/gif, image/apng, image/svg, image/bmp">
                                    </div>
                                    <button type="submit" value="Submit" class="btn btn-primary">Save</button>
                                    <button id="clearPage" type="button" class="btn btn-primary">Clear</button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script th:src="@{./js/html5-simple-date-input-polyfill.min.js}"></script>
    <script th:src="@{./js/wheel.js}"></script>
<!--    <script th:src="@{./js/main.js}"></script>-->
<!--    <script type="text/javascript" src="js/object.js"></script>-->
<!--    <script type="text/javascript" th:src="@{js/functions.js}"></script>-->
    <script>
        $('#clearPage').click(function () {
            location.reload();
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#coffee_table').DataTable( {
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal( {
                            header: function ( row ) {
                                var data = row.data();
                                return data[0];
                            }
                        } ),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                    }
                }
            } );
            $('#coffee_table').show(); // laat de tabel pas zien als ie gerenderd is.
        } );
    </script>
</body>

</html>