<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:layout="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <link rel="apple-touch-icon" sizes="180x180" th:src="@{./images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:src="@{./images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:src="@{./images/favicon-16x16.png}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <title>Password Reset Success</title>
</head>
<body>

<span th:text="${message}"></span> <br/><br/><br/>
<a href="/login">Login</a>

</body>
</html>