<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">SpringBoot
        Thymeleaf</title>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}"/>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            height: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">SpringBoot
                Thymeleaf</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div layout:fragment="content">
        <!-- Your Page Content Here -->
        <form method="POST" th:action="@{uploadFile2}" enctype="multipart/form-data">
            File to upload: <input type="file" name="file"><br/>
            Coffee Name: <input type="text" name="coffeeName"><br/> <br/>
            Roaster: <input type="text" name="roaster"><br/> <br/>
            Roast Color: <input type="text" name="roastColor"><br/> <br/>
            Processing Method: <input type="text" name="processingMethod"><br/> <br/>
            Tasting Method: <input type="text" name="tastingMethod"><br/> <br/>
            Bean Type: <input type="text" name="beanType"><br/> <br/>
            User Notes: <input type="text" name="userNotes"><br/> <br/>
            <input type="submit" value="Upload"> Press here to upload the file!
        </form>
    </div>
</div>

<script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>
<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>

<div class="footer">
    <h1>
        <a href="http://www.javaguides.net/p/spring-boot-tutorial.html">
            Spring Boot Tutorial</a>
    </h1>
</div>

</body>
</html>