<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">SpringBoot
        Thymeleaf</title>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/wheel.css}">
    <link rel="apple-touch-icon" sizes="180x180" th:src="@{images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:src="@{images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:src="@{images/favicon-16x16.png}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            height: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <!-- Your Page Content Here -->
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand mb-0 h1"><img th:src="@{./images/transp_android-chrome-192x192.png}" width="30" height="30" class="d-inline-block align-top" alt="">Coffee Flavour Wheel
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html" th:href="@{login.html}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                        </li>
                            <form th:action="@{/user}" th:object="${user}" method="get">
                    <span>Forgot password? <a href="/" th:href="@{/forgot-password}" >Click
                        here</a></span>
                            </form>

                    </ul>
                    <!--                <form class="nav-item">-->
                    <!--                    <a class="nav-link">Welcome <span sec:authentication="principal.username">User</span></a>-->
                    <!--                </form>-->
                </div>
            </nav>
        </div>

        <h1>WELCOME to the Coffee flavour Wheel App!</h1>
    </div>



<div class="footer">
    <h1>
        <a href="http://www.javaguides.net/p/spring-boot-tutorial.html">
            Spring Boot Tutorial</a>
    </h1>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" src="js/object.js"></script>
<script th:src="@{js/jQuery.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>